//======================================
//   socials
//======================================

.socials {
  text-align: center;

  &__btn {
    @include sprite($facebook);
    display: inline-block;
    vertical-align: top;
    margin-left: 2em;
    transition: box-shadow 0.25s ease;
    border-radius: 50%;

    &:hover,
    &:active {
      box-shadow: 1px 1px 5px rgba(#000, 0.65);
    }

    &:first-child {
      margin-left: 0;
    }

    &--vk {
      @include sprite-position($vk);
    }

    &--tw {
      @include sprite-position($twitter);
    }
  }
}


.fixed-socials {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: $zIndex-9;

  &__inner {
    position: fixed;
    transform: translateZ(0);
    top: 50%;
    margin-top: -204px;
    margin-left: -0.6em;
  }

  &__arrow {
    @include sprite($arrow-up);
    display: block;
    margin: 0 auto 10px auto;
    background-color: transparent;
    transition: opacity 0.25s ease;

    &:hover,
    &:active {
      opacity: 0.8;
    }

    &--down {
      @include sprite-position($arrow-down);
      margin-top: 10px;
    }
  }

  &__btn {
    @include sprite($vk-big);
    display: block;
    border-radius: 50%;
    transition: box-shadow 0.4s ease;

    & + & {
      margin-top: 5px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover,
    &:active {
      box-shadow: inset 0 0 0 60px rgba(#000, 0.3);
    }

    &--fb {
      @include sprite-position($facebook-big);
    }

    &--tw {
      @include sprite-position($twitter-big);
    }
  }
}

